### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/www/cgi-bin/cgiemail.orig
/www/cgi-bin/Count.cgi
/www/cgi-bin/FormMail.pl
/www/cgi-bin/guestbook.pl
/www/cgi-bin/guestbook.pl.orig
/www/cgi-bin/guestbook.pl.rej
/www/cgi-bin/nph-count
/www/cgi-bin/wwwadmin.pl
/www/cgi-bin/wwwboard.pl
/www/CSS/style.css
/www/extras/5000_-.html
/www/extras/7002_1843.html
/www/extras/7008_17748.html
/www/extras/7060_23fbb92d3042af2311df80ba99cb6705.html
/www/extras/blog.html
/www/guest/addguest.html
/www/guest/guestbook.html
/www/guest/guestlog.html
/www/Images/Home/AI1.jpg
/www/Images/Home/AIFace.jpg
/www/Images/Home/apple-logo.svg
/www/Images/Home/bag-icon.svg
/www/Images/Home/close-icon.svg
/www/Images/Home/ETL_image.png
/www/Images/Home/Fox-LabsBlack.jpg
/www/Images/Home/FoxFusionBlack.jpg
/www/Images/Home/machine_learning.jpg
/www/Images/Home/ml2.jpg
/www/Images/Home/ml3.jpg
/www/Images/Home/ml4.jpg
/www/Images/Home/ML5.png
/www/Images/Home/scrape1.jpeg
/www/Images/Home/search-icon.svg
/www/Images/Home/Web_Crawling_Vs_Web_Scraping.png
/www/include/blank.html
/www/include/cross_loader.html
/www/include/f_helper.js
/www/include/iframe_resize.html
/www/include/loading.gif
/www/include/sitetree.js
/www/include/swfobject.js
/www/include/url.js
/www/include/user.css
/www/labs/labs.php
/www/Navigation/navbar.html
/www/Navigation/navbar.php
/www/wwwboard/ADMIN_README
/www/wwwboard/data.txt
/www/wwwboard/faq.htm
/www/wwwboard/index.htm
/www/wwwboard/passwd.txt
/www/main.html
/www/main.js
/www/missing.html
/www/phpinfo.php
