/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
Author: William Fox
Date Created: 08/31/2021
Date Modified:08/31/2021
File Name: Arial.css
Comments: Arial Font
*/

#arial
{
  font-family: arial;
  font-size: medium;
  color: #000000;

}
